:root {
  --color-fondo: #dbe7e4;
}

body {
  background-color: var(--color-fondo);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}

/* TITULO CATALOGO */
.titulo-catalogo {
  font-size: 2.5rem;
  font-weight: 750;
  color: #111;
  position: relative;
  display: block;
  padding-bottom: 14px;
}

.titulo-catalogo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50vw;
  height: 4.5px;
  border-radius: 999px;
  background: linear-gradient(90deg, #ff0055, #b6bde0);
}

/* BUSCADOR */
#buscador-productos {
  width: 260px;
  padding: 10px 16px;
  border-radius: 25px;
  border-color: #5e548e;
  background-color: #c2c9ef;
  transition: all 0.25s ease;
}

#buscador-productos:hover {
  background-color: #b6bde0;
}

#buscador-productos:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #5e548e;
  outline: none;
  transform: scale(1.03);
}

#buscador-productos::placeholder {
  color: #00000066;
  font-style: italic;
}

/* NAVBAR */
.navbar-background {
  background-color: var(--color-fondo);
}

.nav-divider {
  width: 1px;
  height: 25px;
  background-color: rgba(0,0,0,0.2);
  margin: 0 15px;
}

.navbar-background .nav-link,
.navbar-background .nav-link.active {
  color: #000000 !important;
  transition: color 0.25s;
}

.navbar-background .nav-link:hover {
  color: #5e548e !important;
  transform: scale(1.10);
}

.navbar-background .btn {
  color: #000000 !important;
  background-color: #b6bde0 !important;
  border: 2px solid #000000 !important;
  transition: all 0.25s ease;
}

.navbar-background .btn:hover {
  background-color: #5e548e !important;
  color: #ffffff !important;
  transform: scale(1.10);
}

/* TOGGLER */
.navbar-background .navbar-toggler {
  border-color: #5e548e;
}

.navbar-background .navbar-toggler-icon {
  color: #000000;
}

.navbar-background .navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem #5e548e;
}

/* CARRITO */
.cart-icon {
  position: relative;
  font-size: 1.4rem;
  transition: transform 0.25s ease;
}

.cart-icon:hover {
  transform: scale(1.05);
}

/* Burbuja debajo a la derecha */
.cart-badge {
  position: absolute;

  bottom: 4px;
  right: -2px;

  background-color: #000000;
  color: #b6bde0;

  font-size: 0.65rem;
  font-weight: 600;

  min-width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

/* HERO SLIDER */
.hero-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
  border-radius: 30px;
  overflow: hidden;
  min-height: 500px;
  padding: 40px;
  gap: 30px;
  transition: background 1s ease-in-out;
  position: relative;
}

.hero-intro{
  max-width: 1200px;
  margin: 40px auto 10px auto;
  padding-left: 20px;
}

.hero-slogan{
  font-family: 'Rajdhani', sans-serif;
    font-size: clamp(3rem, 3vw, 3.5rem);
  font-weight: 700;
  letter-spacing: 1px;
  color: #111;
}

.hero-slogan span{
  color: #5e548e;
}

.hero-subtitle {
    font-size: 1.2rem; /* Más pequeño que el eslogan */
    font-weight: 400;   /* Más ligero */
    letter-spacing: 1px;
    opacity: 0.8;      /* Un toque de transparencia para dar jerarquía */
    margin-top: 10px;
    color: #2e2c2c;
}

/* TEXTO HERO */
.hero-text {
  flex: 1;
  position: relative;
  z-index: 5;
  height: 300px;
}

.hero-category {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease;
  pointer-events: none;
}

.hero-category.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.hero-category h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
}

.hero-category p {
  font-size: 1.2rem;
  color: #eee;
  margin-bottom: 30px;
}

.hero-category .btn {
  background-color: #91cbfd;
  color: #000;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}

/* IMAGEN HERO */
.hero-images {
  flex: 1;
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-slide {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: scale(0.8) translateX(50px);
  transition: all 0.8s cubic-bezier(0.4,0,0.2,1);
}

.hero-slide.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}



/* LOGIN MODAL */
.modal.modal-right .modal-dialog {
  position: fixed;
  right: 0;
  top: 80px;
  margin: 0;
  width: 400px;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.modal.modal-right.show .modal-dialog {
  transform: translateX(0);
}

.modal.modal-right .modal-content {
  height: auto;
  border-radius: 16px;
  border: none;
  overflow: hidden;
  background: linear-gradient(135deg, #5e548e, #b6bde0);
}

#loginModal .modal-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

#loginModal .modal-body {
  padding: 24px;
  background: linear-gradient(135deg, #5e548e, #b6bde0);
  color: #ffffff;
}

#loginModal .form-control {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  background-color: #dbe7e4;
  border: none;
  border-radius: 15px;
}

#loginModal .form-control:focus {
  background-color: white;
  box-shadow: 0 0 0 3px rgba(94,84,142,0.3);
}

#login-error {
  background: rgba(255, 0, 0, 0.234);
  border: 1px solid rgba(255, 0, 0, 0.622);
  color: #700101;
  border-radius: 15px;
  padding: 12px;
  font-weight: 500;
  animation: aparecer 0.8s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* BOTONES MODAL */
#login-cancel,
#login-submit {
  border-radius: 10px;
  padding: 7px 14px;
  border: none;
}

/* Fondo oscuro detrás del modal */
.modal-backdrop {
  --bs-backdrop-bg: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* Botones modal entrar */
#login-submit {
  background-color: #3eb42a;
  border-color: #3eb42a;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#login-submit:hover {
  background-color: #339022;
  border-color: #339022;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
/* Botones modal cancelar */
#login-cancel {
  background-color: #6c757d;
  border-color: #6c757d;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#login-cancel:hover {
  background-color: #5a6268;
  border-color: #5a6268;
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* Texto de registrar */
#loginModal .register-text {
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

#loginModal .register-text a {
  color: red;
  font-weight: 500;
  text-decoration: none;
}

#loginModal .register-text a:hover {
  text-decoration: underline;
}

/* FONDO MODAL */
.modal-backdrop {
  --bs-backdrop-bg: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

/* SALUDO */
#nav-saludo {
  color: black !important;
}

/* BOTONES ADMIN / LOGOUT */
#btn-logout,
#nav-admin {
  background-color: #b6bde0;
  color: black;
  border: 2px solid #001535;
  transition: all 0.25s ease;
}

#btn-logout:hover,
#nav-admin:hover {
  background-color: #5e548e;
  color: white;
  transform: scale(1.05);
}