body {
  background-color: #f985af8a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
}
/* NAVBAR */
/* Fondo del navbar */
.navbar-background {
  background-color: #f84E8C;
  box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}


/* Color enlaces */
.navbar-background .nav-link,
.navbar-background .nav-link.active {
  color: #000000 !important;
  transition: color 0.25s;
}

/* Hover enlaces */
.navbar-background .nav-link:hover {
  color: #91cbfd !important;
  transform: translateY(-1px);

}

/* Botón login */
.navbar-background .btn {
  color: #000000 !important;
  border-color: #000000 !important;
  background-color: #91cbfd !important;
  border: 2px solid transparent;
   border-color: #001535 !important;
   transition: all 0.25s ease;
}

/* Hover botón login */
.navbar-background .btn:hover {
  background-color: #0050c9 !important;
  color: #000000 !important;
  transform: translateY(-1px);
}
/* CARRITO */
/* Icono carrito */
.cart-icon {
  position: relative;
  font-size: 1.4rem;
  transition: transform 0.25s ease;
}

.cart-icon:hover{
    transform: translateY(-1px);
}

/* Burbuja debajo a la derecha */
.cart-badge {
  position: absolute;

  bottom: 4px;
  right: -2px;

  background-color: #000000;
  color: #91cbfd;

  font-size: 0.65rem;
  font-weight: 600;

  min-width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

/* Color del botón de toggler */
.navbar-background .navbar-toggler {
  border-color: #91cbfd;
}

.navbar-background .navbar-toggler-icon {
  filter: invert(90%) sepia(100%) saturate(600%) hue-rotate(10deg);
}
.navbar-background .navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem #91cbfd;
}

/* MODAL LOGIN */
/* Modal lateral desde la derecha */
.modal.modal-right.fade .modal-dialog {
  position: fixed;
  right: 0;
  top: 80px;
  margin: 0;
  width: 400px;
  transform: translateX(100%) !important;   /* fuera por la derecha */
  transition: transform 0.3s ease !important;
}

.modal.modal-right.show .modal-dialog {
  transform: translateX(0) !important;      /* entra hacia la izquierda */
}

/* Tamaño del modal */
.modal.modal-right .modal-content {
  height: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.modal-body{
padding-bottom: 5px;
}

.modal-footer{
border-top: none;
margin-top: 0;
padding-top: 5px;
}

/* Color modal */
#loginModal .modal-header {
  background-color: #ffffff;
  color: #000000;
}

#loginModal .modal-body {
  background-color: #ffffff;
}

.modal-backdrop {
  --bs-backdrop-bg: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

/* Boton modal Entrar */
#login-submit {
  background-color: #3eb42a ;
  border-color: #3eb42a;
}

/* Boton modal Entrar hover */
#login-submit:hover {
  background-color: #339022;
  border-color: #339022;
  transform: translateY(-1px);

}
/* Boton modal Cancelar */
#login-cancel {
  background-color: #6c757d;
  border-color: #6c757d;
}

/* Boton modal Cancelar hover */
#login-cancel:hover {
  background-color: #5a6268;
  border-color: #5a6268;
  transform: translateY(-1px);

}

/* Texto registrar */
.register-text {
  margin-right: auto;
  font-size: 0.9rem;
}

.register-text a {
  color: #fe041d;
  text-decoration: none;
  font-weight: 500;
}

.register-text a:hover {
  text-decoration: underline;
}
/* GRID */ 
/* Clase para el contenedor del producto agotado */
.producto-agotado {
    filter: grayscale(1); /* Pone la imagen en blanco y negro */
    opacity: 0.6;         /* Lo hace un poco transparente */
    border: 2px solid #dc3545 !important; /
}

/* Opcional: un texto que diga "Sin Stock" */
.badge-sin-stock {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    font-weight: bold;
}
/* Imagenes de los cards */
.card-img-top{
    height: 300px;
    object-fit: contain;
    padding: 10px;
    background-color: #fff;
}
.card{
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    transition: all 0.25s ease;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 0 30px rgba(0,0,0,0.55);
}

.card-title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-text{
    font-size: 1rem;
    color: #606060;
    margin-bottom: 14px;
}

.card .fw-bold{
    font-size: 1.4rem;
    color: #111;
}

.text-muted{
      color: #606060;
    font-size: 0.85rem;
}
#catalogo-container .card{
    border: 1px solid #eee;
    border-radius: 20px;
}

#nav-saludo {
  color: black !important;
}

#btn-logout,
#nav-admin{
    background-color: #91cbfd;
    color: black;
    border: 2px solid transparent;
    border-color: #001535 !important;
    transition: all 0.25s ease;
}

#btn-logout:hover,
#btn-admin:hover,
#nav-admin:hover {
    background-color: #0050c9 !important;
    color: white;
    border-color: #001535 !important;
    transform: translateY(-1px);
}

/* BOTÓN CUANDO HAY STOCK (Disponible) */
#catalogo-container .card .btn-primary {
    background-color: #3eb42a !important; /* Tu verde */
    border-color: #3eb42a !important;
    color: white !important;
}

#catalogo-container .card .btn-primary:hover {
    background-color: #339022 !important;
}

/* BOTÓN CUANDO NO HAY STOCK (Agotado) */
/* Al estar el botón 'disabled', Bootstrap le aplica estilos grises por defecto */
#catalogo-container .producto-agotado .btn:disabled {
    background-color: #6c757d !important; /* Gris oscuro */
    border-color: #6c757d !important;
    color: #ffffff !important;
    opacity: 1; /* Para que no se vea tan transparente si no quieres */
    cursor: not-allowed;
}